@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Newsreader:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

footer{
    background-color: #600028;
}
p{
    font-family: 'Newsreader', serif;
}
h1{
    font-family: 'Cinzel', serif;
    font-size: 3em;
}
.quemsomos section{
    background-color: #600028;
}
.quemsomos p{
    color:white
}
.quemsomos h1{
    color: #600028;
}