@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Newsreader:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

footer{
    background-color: #600028;
}
p{
    font-family: 'Newsreader', serif;
}
h1{
    font-family: 'Cinzel', serif;
    font-size: 3em;
}
.quemsomos section{
    background-color: #600028;
}
.quemsomos p{
    color:white
}
.quemsomos h1{
    color: #600028;
}
.oli{
margin-bottom: 5em;
}

/* início thami, vila don patto */

#header_donpatto {
    height: 740px;
    background-image: url(../img/viladonpatto_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.titulo h1{
    color: antiquewhite;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 280px;
    font-weight: 600;
    letter-spacing: -2px;
}

.titulo h2{
    color: antiquewhite;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: -1px;
    font-weight: 600;
    letter-spacing: -1px;
}

#dois {
    margin-top: 90px;
}

.imagembaixo1{
    width: 550px;
    margin-bottom: 50px;
}

.imagembaixo2{
    width: 550px;
    margin-bottom: 50px;
}

/* fim thami, vila don patto */